/* custom css for keyboard shortcuts */
kbd {
    border-style: outset;
    border-width: 2px;
    border-color: #999999;
    border-radius: 6px;
    padding: 3px;
    font-size: 75%;
    font-weight: 475;
    background-color: #f8f8f8;
    margin: 2px;
    white-space: nowrap;
}

/* pygments code syntax code no wrap and scroll */

.highlight pre code * {
  white-space: nowrap;
}

.highlight pre {
  overflow-x: auto;
}

.highlight pre code {
  white-space: pre;  m
}